:root {
    --main-color:#4F905E;
    --main-secondary-color:#4F905E;

    --secondary-color:#666854;
    --secondary-secondary-color:#ACAF84;

    --black-neutro: #000000;
    --black-green-neutro:#465F4B;
    --green-neutro: #84B98F;
    --white-neutro: #FFFFFF;

    --font-family-default: "Bebas Neue", sans-serif;
}
.navbar {
    background-color: var(--main-color);
    color: #FFFFFF;
    font-family: var(--font-family-default), serif;
    font-size: 50px;
}
.nav-link {
    color: var(--white-neutro);
}
.profile-img {
    border-radius: 50px;
    width: 150px;
    height: 150px;
}
html {
    font-family: var(--font-family-default), serif;
}
footer {
    background-color: var(--black-neutro);

}
a {
    text-decoration: none;
    color: var(--white-neutro);
}
.about-section {
    background-image: url("./montana.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-box {
    background-color: rgba(45, 42, 42, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    color: var(--white-neutro);
}
.image-section {
    padding: 100px 0;
}

.content-box {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.image-placeholder {
    background-image: url("./motocross.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 10px;
}





