{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block content %}
    <div class="container">
        {% for post in posts %}
            <div class="blog-post">
                <h2>{{ post.title }}</h2>
                <img src="{{ post.thumbnail_url }}" alt="{{ post.title }} thumbnail">
                <p>{{ post.preview_text }}</p>
                <p>Reading time: {{ post.readingTimeInMinutes }} minutes</p>
                <p>Categories: {{ post.categories }}</p>
                <p>Published on: {{ post.publicationDate }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
